.glyphicon {
  font-size: 3em !important;
}
body {
  padding-top: 50px;
}

.carousel {
  /* padding-bottom: 10px; */
  border-bottom: 2px solid darkgray;
  margin-bottom: 10px;
}
.container {
  max-width: 1000px;
}
